# Backup folder
bk/

# Documents
docs/

# Demo / Package purpose
media-demo/
brochure.html
live demo checklist.md
package checklist.md

# Gulp
node_modules/
gulpfile.js

# Dev purpose
2d.md

# My
my/
