* {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

  /*
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  */
}

body {
  padding-top: 0;
}

.navbar.navbar-inverse.navbar-fixed-top {
  display: none;
}

#overview.jumbotron.subhead {
  background: none;
  color: #FFF;
  text-shadow: none;
  box-shadow: none;
  background-color: #0277BD;
}

.jumbotron:after {
  background: none;
}

/*
pre,
.alert,
.label,
.bs-docs-sidenav > li:first-child > a,
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
}
*/